extends layout

block content
  nav
    ul(class='group')
      li(class='active')
        a(href='/') Home
          //img(class='home-icon' src='/images/home.svg')
      li
        a(href='/mine') Mine

  div(class='title')
    h1 #{title}

  include common

  p Movie data provided by 
    a(href='//www.themoviedb.org') The Movie Database
