<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--link(rel='stylesheet', href='/stylesheets/normalize.css')-->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav>
      <ul class="group">
        <li><a href="/">Home
            <!--img(class='home-icon' src='/images/home.svg')--></a></li>
        <li class="active"><a href="/mine">Mine</a></li>
      </ul>
    </nav>
    <div class="title">
      <h1></h1>
    </div>
    <div id="resultId" class="container group">
      <div data-film="" data-id="" class="result"><a href="/similar/" class="simLink"></a>
        <div class="title"></div>
        <div class="ratingFav group">
          <div class="rating"></div>
          <div data-film="" data-id="" data-rating="" data-image="" class="fav">
            <svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="32" viewBox="0 0 80 32">
              <defs>
                <g id="icon-heart">
                  <path path d="M32 11.192c0 2.699-1.163 5.126-3.015 6.808h0.015l-10 10c-1 1-2 2-3 2s-2-1-3-2l-9.985-10c-1.852-1.682-3.015-4.109-3.015-6.808 0-5.077 4.116-9.192 9.192-9.192 2.699 0 5.126 1.163 6.808 3.015 1.682-1.852 4.109-3.015 6.808-3.015 5.077 0 9.192 4.116 9.192 9.192z" class="path1"></path>
                </g>
                <g id="icon-heart2">
                  <path d="M32 11.192c0-5.077-4.116-9.192-9.192-9.192-2.699 0-5.126 1.163-6.808 3.015-1.682-1.852-4.109-3.015-6.808-3.015-5.077 0-9.192 4.116-9.192 9.192 0 2.699 1.163 5.126 3.015 6.808h-0.015l10 10c1 1 2 2 3 2s2-1 3-2l9.985-10c1.852-1.682 3.015-4.109 3.015-6.808zM26.296 15.039l-10.124 10.133c-0.052 0.052-0.11 0.11-0.172 0.171-0.061-0.061-0.119-0.119-0.172-0.171l-10.124-10.133c-1.099-0.998-1.704-2.364-1.704-3.846 0-2.863 2.329-5.192 5.192-5.192 1.482 0 2.848 0.605 3.846 1.704l2.962 3.262 2.962-3.262c0.998-1.099 2.364-1.704 3.846-1.704 2.863 0 5.192 2.329 5.192 5.192 0 1.482-0.605 2.848-1.704 3.846z" class="path1"></path>
                </g>
              </defs>
            </svg>
            <svg viewBox="0 0 32 32" class="icon icon-heart">
              <use xlink:href="#icon-heart"></use>
            </svg>
            <svg viewBox="0 0 32 32" class="icon icon-heart2 hidden">
              <use xlink:href="#icon-heart2"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/javascripts/matchmedia.js"></script>
  <script src="/javascripts/picturefill.js"></script>
  <script src="/javascripts/localforage/dist/localforage.js"></script>
  <script src="/javascripts/builder.js"></script>
  <script src="/javascripts/app.js"></script>
</html>